*.md linguist-detectable=true
*.rtf linguist-detectable=true
*.sql linguist-detectable=true
*.ps linguist-detectable=true
*.eps linguist-detectable=true

*.swift linguist-detectable=false
*.java linguist-detectable= false
*.kt linguist-detectable=false
*.vue linguist-detectable=false
*.js linguist-detectable=false

Final/*.* linguist-generated=true
